@use "../base/" as *;
/* button */
.btn-wrap {
	@include flex-center();
	gap: 1rem;
	&.align-left {
		justify-content: flex-start;
	}
	&.align-right {
		justify-content: flex-end;
	}
}
/** 기본 */
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: auto;
	min-width: 8rem;
	min-height: 3.2rem;
	padding: 1rem;
	border-radius: 1rem;
	font-weight: 600;
	&.btn-primary {
		background-color: $color-primary;
		color: $color-white;
	}
	&.btn-secondary {
		background-color: rgba(var(--color-scheme-rvs-rgb), alpha(3));
		color: var(--color-text);
	}
	&.btn-line {
		background-color: var(--color-gray-00);
		border: 1px solid var(--color-gray-30);
	}
	&.h-48 {
		height: 4.8rem;
	}
	&.h-56 {
		height: 5.6rem;
	}
	&.disabled,
	&[disabled] {
		opacity: 0.6;
	}
}
/** 탭 */
.tab-btn {
	@extend .btn;
	background-color: rgba(var(--color-scheme-rvs-rgb), alpha(3));
	min-height: 4.2rem;
	border-radius: 1rem;
	transition: background-color 0.2s ease-in-out;
	&:hover,
	&.active {
		background-color: rgba($color-primary, alpha(5));
	}
	&.active {
		color: $color-primary;
		font-weight: 600;
	}
}
/** 아코디언 */
.acc-btn {
	@extend .tab-btn;
	position: relative;
	width: 100%;
	justify-content: flex-start;
	text-align: left;
	padding: 1rem 4rem 1rem 2rem;
	&::after {
		content: "";
		position: absolute;
		top: calc(50% - 5px);
		right: 2rem;
		@include arrow-icon(45deg);
	}
	&.active::after {
		top: calc(50% - 2px);
		border-color: $color-primary;
		transform: rotate(-135deg);
	}
}
/** 드롭다운 */
.dropdown-btn {
	@extend .acc-btn;
	&::after {
		@include arrow-icon(45deg, 0.8);
	}
	background-color: rgba(var(--color-scheme-rvs-rgb), alpha(3));
}
/** 햅버거 */
.menu-icon-btn {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 2rem;
	height: 2.4rem;
	padding: 0.4rem 0;
	.menu-icon-bar {
		width: 2rem;
		height: 1px;
		background: var(--color-text);
		transition:
			transform 0.3s ease,
			opacity 0.2s ease;
	}
}
/** 닫기 */
.btn-close {
	position: relative;
	right: 2rem;
	top: 2rem;
	width: 2.4rem;
	height: 2.4rem;
	border: none;
	background: transparent;
	cursor: pointer;
	&.rel {
		position: relative;
	}
	&.abs {
		position: absolute;
	}
	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2.4rem;
		height: 2px;
		background: var(--color-text);
		transform-origin: center;
	}
	&::after {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	&::before {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

/* // button */
