@use "../forward/index" as *;
/* components */
/* tab */
.tab-wrap {
	.tab-list {
		display: flex;
		gap: 1.2rem;
		flex-wrap: wrap;
	}
	.tab-content {
		// background-color: rgba(var(--color-scheme-rvs-rgb), alpha(1));
		// transition: all 0.4s;
		overflow: hidden;
	}
	.panel-inner {
		margin-top: 1.2rem;
		padding: 1.2rem;
		border-radius: 1rem;
		// transition: all 0.4s;
	}
	// [role="tabpanel"] {
	// 	@include fade-hidden();
	// 	&.show {
	// 		@include fade-show();
	// 	}
	// }
}

/* accordion */
.ui-accordion {
	.accordion-item {
		& + .accordion-item {
			margin-top: 1.2rem;
		}
	}
	.acc-panel {
		overflow: hidden;
		.panel-inner {
			margin-top: 1.2rem;
			background-color: rgba(var(--color-scheme-rvs-rgb), alpha(1));
			padding: 1.2rem;
			border-radius: 1rem;
			overflow-y: auto;
		}
	}
}

/* dropdown */
.ui-dropdown {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 1.2rem;
	.dropdown-item {
		position: relative;
		.dropdown-list {
			position: absolute;
			z-index: 1;
			overflow: hidden;
			background-color: var(--color-gray-10);
			border: 1px solid var(--color-gray-20);
			min-width: 100%;
			max-width: 18rem;
			border-radius: 1rem;
			// max-height: none;
			// @include hidden();
			// &.show {
			// 	@include show();
			// 	max-height: 20rem;
			// 	overflow-y: auto;
			// }
			li {
				padding: 4px;
				> * {
					padding: 0.8rem 1rem;
					display: block;
					width: 100%;
					border-radius: 4px;
				}
				a:hover {
					background-color: rgba($color-primary, alpha(5));
				}
			}
		}
	}
}
/*// components */
