@use "../base/" as *;
.footer {
	// margin-top: 2rem;
	background-color: var(--color-gray-10);
	.footer-inner {
		display: grid;
		grid-template-columns: minmax(10rem, 24rem) 1fr;
		gap: 2rem;
		max-width: 132rem;
		margin: 0 auto;
		padding: 4rem 2rem;
		// background-color: var(--color-gray-10);
		.inner-left {
			height: 4rem;
			line-height: 4rem;
			background-color: $color-primary;
			color: $color-white;
			text-align: center;
			font-size: var(--text-size-lg);
		}
		.inner-right .footer-menu {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
			justify-content: end;
			gap: 2rem;
			text-align: center;
			.sub-menu {
				margin-top: 2rem;
				li {
					font-size: var(--text-size-sm);
					color: var(--color-gray-80);
				}
				li + li {
					margin-top: 1.2rem;
				}
			}
		}
		@media (max-width: 480px) {
			grid-template-columns: 1fr;
		}
	}
}
