@use "sass:math";
// 기본 폰트 스택
$font-primary: "SUIT", "Noto Sans", "Apple SD Gothic Neo", "Helvetica", "Arial", sans-serif;
$font-secondary: "Noto Sans", "Apple SD Gothic Neo", "Helvetica", "Arial", sans-serif;

// base color
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #1094c9;
$color-focus: #d660fa;

// alpha scale
@function alpha($step) {
	@if $step >= 0 and $step <= 30 {
		@return math.div($step, 30);
	}
	@warn "alpha step must be between 0 and 30";
	@return 1;
}

@function color-alpha($color, $alpha) {
	@return rgba($color: $color, $alpha: $alpha);
}
