// 기본 폰트 스택
$font-primary: "SUIT", "Noto Sans", "Apple SD Gothic Neo", "Helvetica", "Arial", sans-serif;
$font-secondary: "Noto Sans", "Apple SD Gothic Neo", "Helvetica", "Arial", sans-serif;

:root {
	--text-size-base: 1.6rem;
	--text-size-sm: 1.4rem;
	--text-size-md: 1.8rem;
	--text-size-lg: 2rem;
	--text-size-xl: 2.4rem;
	--text-size-xxl: 3.2rem;
	--text-size-3xl: 4rem;

	--title-size-sm: 2.6rem;
	--title-size-md: 4rem;
	--title-size-lg: 5rem;
	--title-size-xl: 6rem;

	--header-height: 6rem;
}

@media (max-width: 768px) {
	:root {
		--text-size-base: 1.4rem;
		--text-size-sm: 1.3rem;
		--text-size-md: 1.6rem;
		--text-size-lg: 1.8rem;
		--text-size-xl: 1.8rem;
		--text-size-xxl: 2rem;
		--text-size-3xl: 2.4rem;

		--title-size-sm: 2rem;
		--title-size-md: 2.6rem;
		--title-size-lg: 3.2rem;
		--title-size-xl: 4rem;

		--header-height: 5rem;
	}
}

:root {
	color-scheme: light dark;
	--color-scheme-rgb: 255, 255, 255;
	--color-scheme-rvs-rgb: 15, 15, 14;
	--color-text: #333;
	--color-gray-00: #ffffff;
	--color-gray-10: #f7f7f5;
	--color-gray-20: #efefec;
	--color-gray-30: #e5e5e1;
	--color-gray-40: #d6d6d2;
	--color-gray-50: #c2c2bd;
	--color-gray-60: #a8a8a3;
	--color-gray-70: #8c8c87;
	--color-gray-80: #5c5c57;
	--color-gray-90: #2c2c2a;
}
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--color-scheme-rgb: 40, 40, 40;
		--color-scheme-rvs-rgb: 255, 255, 255;
		--color-text: #fff;
		--color-gray-00: #0f0f0e;
		--color-gray-10: #161615;
		--color-gray-20: #1d1d1b;
		--color-gray-30: #262624;
		--color-gray-40: #30302e;
		--color-gray-50: #3f3f3c;
		--color-gray-60: #5a5a57;
		--color-gray-70: #7a7a76;
		--color-gray-80: #a3a39f;
		--color-gray-90: #e5e5e0;
	}
}

.w-full {
	width: 100% !important;
}
