// 기본 폰트 스택
$font-primary: "SUIT", "Noto Sans", "Apple SD Gothic Neo", "Helvetica", "Arial", sans-serif;
$font-secondary: "Noto Sans", "Apple SD Gothic Neo", "Helvetica", "Arial", sans-serif;

:root {
	--font-scale: 1;

	--text-size-base: calc(1.6rem * var(--font-scale));
	--text-size-sm: calc(1.4rem * var(--font-scale));
	--text-size-md: calc(1.8rem * var(--font-scale));
	--text-size-lg: calc(2rem * var(--font-scale));
	--text-size-xl: calc(2.4rem * var(--font-scale));
	--text-size-xxl: calc(3.2rem * var(--font-scale));
	--text-size-3xl: calc(4rem * var(--font-scale));

	--title-size-sm: calc(2.6rem * var(--font-scale));
	--title-size-md: calc(4rem * var(--font-scale));
	--title-size-lg: calc(5rem * var(--font-scale));
	--title-size-xl: calc(6rem * var(--font-scale));

	--header-height: 6rem;
}

[data-font-size="large"] {
	--font-scale: 1.4;
}

@media (max-width: 768px) {
	:root {
		--text-size-base: calc(1.4rem * var(--font-scale));
		--text-size-sm: calc(1.3rem * var(--font-scale));
		--text-size-md: calc(1.6rem * var(--font-scale));
		--text-size-lg: calc(1.8rem * var(--font-scale));
		--text-size-xl: calc(1.8rem * var(--font-scale));
		--text-size-xxl: calc(2rem * var(--font-scale));
		--text-size-3xl: calc(2.4rem * var(--font-scale));

		--title-size-sm: calc(2rem * var(--font-scale));
		--title-size-md: calc(2.6rem * var(--font-scale));
		--title-size-lg: calc(3.2rem * var(--font-scale));
		--title-size-xl: calc(4rem * var(--font-scale));

		--header-height: 5rem;
	}
}

[data-color-mode="light"] {
	// color-scheme: light dark;
	--color-scheme-rgb: 255, 255, 255;
	--color-scheme-rvs-rgb: 15, 15, 14;
	--color-text: #333;
	--color-gray-00: #ffffff;
	--color-gray-10: #f7f7f5;
	--color-gray-20: #efefec;
	--color-gray-30: #e5e5e1;
	--color-gray-40: #d6d6d2;
	--color-gray-50: #c2c2bd;
	--color-gray-60: #a8a8a3;
	--color-gray-70: #8c8c87;
	--color-gray-80: #5c5c57;
	--color-gray-90: #2c2c2a;
}
[data-color-mode="dark"] {
	// color-scheme: dark;
	--color-scheme-rgb: 40, 40, 40;
	--color-scheme-rvs-rgb: 255, 255, 255;
	--color-text: #fff;
	--color-gray-00: #0f0f0e;
	--color-gray-10: #161615;
	--color-gray-20: #1d1d1b;
	--color-gray-30: #262624;
	--color-gray-40: #30302e;
	--color-gray-50: #3f3f3c;
	--color-gray-60: #5a5a57;
	--color-gray-70: #7a7a76;
	--color-gray-80: #a3a39f;
	--color-gray-90: #e5e5e0;
}

.w-full {
	width: 100% !important;
}
